/*GENERAL STYLING*/

*{
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    overflow-x: hidden;
}

h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(6, 101, 209, 0.9);
    margin: 20px 0;
}


/*BACK TO TOP*/
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    background-color: teal;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
}

#myBtn:hover{
    background-color: #555;
}


/*NAVIGATION STYLING*/

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px;
    position: fixed;
    width: 100%;
    z-index: 1;
	background-color:rgba(6, 101, 209, 0.9);
	color: #fff;
    transition: top 0.3s;
}

.navbar #nav-logo{
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar ul li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 200;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: .5s ease-in;
}

.navbar ul li a:hover{
    border-radius: 5px;
    color: rgb(9, 218, 218);
    cursor: pointer;
    text-decoration: none;
}

.navbar ul li a.active{
    color: rgb(9, 218, 218);
}

.navbar .hamburger{
    display: none;
}

.navbar .modebtn{
    font-size: 2rem;
    margin-right: 20px;
    cursor: pointer;
}

.navbar .modebtn:hover{
    color: rgb(2, 24, 41);
}


/*HOME PAGE STYLING*/

#home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 90px;
    height: 90vh;
	background-image:linear-gradient(rgba(0,0,0,0.18),rgba(0,0,0,0.18)),url('img/hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

#home #home-text {
    margin: 20% 0 0 20%;
}

#home #home-text h3{
    color: #348ed3;
    font-size: 1.7rem;
    font-weight: 500;
}

#home #home-text h2{
    color: #348ed3;
    font-size: 2.4rem;
    font-weight: 700;
}

#home .btn{
    color: rgba(6, 101, 209, 0.9);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(6, 101, 209, 0.9);
    background-color: rgb(1, 11, 24, 0.06);
}

#home a{
    text-decoration: none;
}

#home a:hover{
    color: white;
    background-color: rgba(6, 101, 209, 0.9);
    border-color: rgba(6, 101, 209, 0.9);
}

#home #homeimg {
    height: 95%;
    width: 29vw;
    border-radius: 5%;
    margin: 0 auto;
}



/*ABOUT ME SECTION STYLING*/

.container{
    padding: 0px 80px;
}

#about{
    padding: 30px 0;
}

#about .about-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#about #aboutimg {
    height: 85vh;
    width: 100%;
}

#about .about-details .about-text p{
    line-height: 30px;
}

#about .about-details .about-text .stack{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 30px;
}

#about .about-details .about-text .stack ul li{
    list-style: none;
}

#about .about-details .about-text .stack ul li i{
    color: #0082e6;
    margin-right: 10px;
    font-size: 1rem;
}


/*PORTFOLIO SECTION STYLING*/

#portfolio{
    padding: 30px 0;
}

#portfolio .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#portfolio .cards .card{
    padding: 10px;
    border: 1px solid rgb(27, 28, 29);
}

#portfolio .cards .card img{
    width: 100%;
}

#portfolio .btn{
    color: rgba(6, 101, 209, 0.9);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(6, 101, 209, 0.9);
    background-color: rgba(187, 213, 247, 0.1);
}

#portfolio .btn:hover{
    color: white;
    border: 1px solid rgba(6, 101, 209, 0.9);
    background-color: rgba(6, 101, 209, 0.9);
}

/*RESUME SECTION STYLING*/

#resume{
    padding: 30px 0;
}

#resume h4{
    font-size: 1rem;
    font-weight: 100;
}

#resume .resume-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

#resume .resume-details h2{
    margin: 10px 0;
    color: rgb(32, 34, 34);
}

#resume .resume-details span{
    margin-left: 20px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(114, 197, 197, 0.15);
}

#resume .resume-details .resume-items{
    padding: 0 0 20px 40px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }

#resume .resume-details .resume-items::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }


/*CAROUSEL STYLING*/
.slideshow-container{
    margin: 40px 0;
    text-align: center;
}

.slideshow-container h3{
    color: rgb(5, 146, 146);
}

.slideshow-container .slides{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container .slides .mySlides a img{
    width:50%;
    height: 15vh;
}

.slideshow-container .slides .mySlides a img:hover{
    width: 55%;
    height: 17vh;
    transition: all .5s;
}


/*CONTACT SECTION STYLING*/
#contact{
    margin: 10px 0;
    padding: 20px;
    border: 1px solid rgb(175, 173, 173);
}

#contact h2{
    margin: 30px 0;
    color: rgb(6, 114, 114);
}

#contact .contact-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contact .contact-details .contact{
    text-align: center;
    margin: auto;
    line-height: 40px;
}

#contact .contact-details .contact .fas{
    color: rgb(4, 158, 158);
    background-color: rgba(81, 161, 236, 0.3);
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
}

#contact .fab{
    color: rgb(6, 124, 124);
    background-color: rgba(81, 161, 236, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin: 10px 0;
    font-size: 30px;
    text-decoration: none;
}

#contact a:hover{
    color: rgb(5, 99, 99);
    background-color: rgba(81, 161, 236, 0.35);
}

/*DARK MODE STYLING*/
.dark{
    background-color: rgb(18, 19, 26);
    color: #ffffff;
}
.dark .navbar{
    background-color: rgb(7, 28, 39);
}

.dark .navbar .modebtn{
    color: white;
}

.dark #home{
	background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url('img/hero-bg.png');
}

.dark #home #home-text h2{
    color: white;
}

.dark #home #home-text h3{
    color: white;
}

.dark #home .btn{
    border: 1px solid #fff;
    color: white;
}

.dark #home .btn:hover{
    border-color: #0082e6;
}

.dark h1{
    color: rgba(84, 161, 248, 0.9);
}

.dark #portfolio .btn{
    border: 1px solid #fff;
    color: white;
}

.dark #portfolio .btn:hover{
    border-color: #0082e6;
}

.slideshow-container h3{
    color: rgb(7, 204, 204);
}

.dark #contact h2{
    color: rgb(7, 204, 204);
}

.dark #resume .resume-details h2{
    color: rgb(194, 192, 192);
}

.dark #contact .contact-details .contact .fas{
    color: rgb(7, 204, 204);
    background-color: rgba(81, 161, 236, 0.3);
}

.dark #contact .fab{
    color: rgb(7, 204, 204);
    background-color: rgba(81, 161, 236, 0.25);
}

.dark #contact a:hover{
    color: rgb(54, 236, 236);
    background-color: rgba(81, 161, 236, 0.35);
}



/*MEDIA QUERY FOR SCREENS WITH MAXIMUN WIDTH OF 970px WITH MINIMUM WIDTH OF 800px*/
@media screen and (max-width:1000px) {
    .navbar #navlogo{
        font-size: 1rem;
    }

    .navbar ul li a{
        font-size: .7rem;
    }

    .container{
        padding: 0px 40px;
    }

    #portfolio .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

/*MEDIA QUERY FOR SCREENS WITH MAXIMUN WIDTH OF 800px*/

@media screen and (max-width:800px) {

/*NAVIGATION BAR*/

    .navbar{
        display: flex;
        padding: 1rem 1rem;
    }

    .navbar .nav-icons{
        display: flex;
        gap: 20px;
    }

    .navbar .hamburger{
        font-size: 1.5rem;
        display: block;
        cursor: pointer;
    }

    .navbar .modebtn{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar .nav-links{
        position: absolute;
        height: 90vh;
        margin-top: 40px;
        width: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(4, 14, 29);
    }

    .navbar .links{
        display: none;
    }

    .navbar .nav-links .nav-link{
        text-align: center;
        padding: 1rem 1rem;
    }

    .navbar ul li a{
        font-size: 20px;
    }

    .navbar ul li a.active{
        color: aqua;
    }




    /*HOME PAGE*/

    #home{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100vw;
        height: 100vh;
        padding: 0;
        margin-top: 50px;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/mypic1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size:100% 650px;
    }

    .dark #home{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/mypic1.jpg');
    }

    #home #home-text{
        margin-top: 40%;
    }

    #home #home-text h2{
        color: #ffffff;
        font-size: 1.9rem;
    }

    #home #home-text h3{
        color: #ffffff !important;
        font-size: 1.5rem;
    }

    #home #homeimg {
        display: none;
    }

    #home .btn{
        color: white;
        border-color: white;
    }


     /*ABOUT ME STYLING FOR MOBILE*/

    #about .about-details{
        display: grid;
        grid-template-columns: 100%;
    }

    .container{
        padding: 0%;
    }

    #about .about-details .about-text{
        padding: 0 25px;
        font-size: 1rem;
        font-weight: 100;
    }


    /*PORTFOLIO STYLING FOR MOBILE*/
    #portfolio .cards{
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
        margin: 0 20px;
    }

    #about .about-details .about-text .stack ul li i{
        color: #0082e6;
        margin-right: 10px;
        font-size: .9rem;
    }

    .slideshow-container .slides .mySlides a img{
        width: 50%;
        height: 14vh;
        transition: all .5s;
    }


    /*RESUME STYLING FOR MOBILE*/

    #resume .resume-details{
        display: grid;
        grid-template-columns: 100%;
        gap: 5px;
        padding: 40px;
    }


    /*CONTACT STYLING FOR MOBILE*/

    #contact .contact-details{
        display: grid;
        grid-template-columns: 100%;
    }

}
